/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: white;
    transition: 1s;
}

body{
    background-color: black;
}

/*CAROUSEL DIVS*/

.carrosel{
    display: flex;
    flex-direction: row;
    margin-top: 11rem;
    margin-left: 19rem;
    background-color: transparent;
}

.carrosel div{
    margin-left: 1rem;
}

.carrosel h2{
    margin-bottom: 1rem;
    margin-left: 4.1rem;
}

.carrosel img:hover{
    cursor: pointer;
    transform: translateY(-7px);
    transition: 1s;
}

/*TITLE*/
h1{
    margin-left: 37.5rem;
    margin-top: -7rem;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    position: absolute;
}

/*ALBUM DESCRIPTION*/
.album-desc{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

#line{
    width: 0.4rem;
    height: 100%;
    margin-left: 44rem;
    margin-top: -9rem;
    background-color: rgb(245, 56, 151);
    position: absolute;
    z-index: 15;
}

.name{
    margin-top: 0.5rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.info-box{
    display: flex;
    flex-direction: row;
    margin-left: 1.8rem;
    margin-top: 0.5rem;
}

.pic img{
    width: 37rem;
    height: 31rem;
    padding-top: 0.6rem;
    padding-right: 0.7rem;
}

.pic{
    background-color: black;
    margin-top: -12rem;
    border-top-right-radius: 1rem;
}


.listen{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 15rem;
    margin-top: 0.5rem;
}

.info{
    width: 50%;
    font-size: 1.5rem;
    height: 20rem;
    margin-top: -12rem;
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    line-height: 2.5rem;
    border-top-left-radius: 1rem;
}


.buttons{
    display: flex;
    flex-direction: row;
    margin-left: 6.5rem;
}

a:link, a:visited{
    text-decoration: none;
}

/*SPOTIFY BUTTON*/

.spotify-button{
 display: flex;
 flex-direction: row;
 background-color: rgb(30 215 96);
 width: 12rem;
 height: 3.5rem;
 border-radius: 0.2rem;
 margin-bottom: 0.5rem; 
}

.spotify-button p{
    margin-left: -0.4rem;
    margin-top: 0.9rem;
    font-size: 1.7rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    z-index: 1;
}

a .spotify-logo{
    width: 5rem;
    height: 3rem;
    margin-right: -0.7rem;
    margin-left: 0.2rem;
    margin-top: -0.3rem;
}

/*YOUTUBE BUTTON*/

a .youtube-logo{
    width: 4rem;
    height: 3.5rem;
    margin-right: -0.7rem;
    margin-left: 0.2rem;
    margin-top: -0.55rem;
}

.youtube-button{
    display: flex;
    flex-direction: row;
    background-color: #FF0000;
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem; 
    margin-left: 2rem;
   }

.youtube-button p{
    margin-left: 0.1rem;
    margin-top: 0.9rem;
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.youtube{
    width: 0rem;
}

/*GRADIENTS*/
.gradient{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top,rgb(245, 56, 151), rgb(0, 0, 0));
    z-index: -100;
}

.gradient-one{
    background-image: linear-gradient(to top,#ffffff, rgb(0, 0, 0));
}

.gradient-two{
    background-image: linear-gradient(to top,rgb(66, 17, 146), rgb(0, 0, 0));
}

.gradient-four{
    background-image: linear-gradient(to top,rgb(241, 98, 62), rgb(0, 0, 0));
}

.gradient-five{
    background-image: linear-gradient(to top,rgb(247, 30, 30), rgb(0, 0, 0));
}

/*SETTING SIZES*/

.img-one, .img-five{
    width: 5rem;
}

.img-two, .img-four{
    width: 8rem;
}

/*BOX-SHADOW*/

.img-one, .img-two{
    box-shadow: -3px 0px 8px rgb(0, 0, 0)
}


.img-five, .img-four{
    box-shadow: 3px 0px 8px rgb(0, 0, 0)
}

.img-three{
    box-shadow: 0px 0px 10px rgb(255, 255, 255)
}

/*STANDARD DISPLAY*/

.div-one h2, .div-two h2, .div-four h2, .div-five h2{
    display: none;
}

/*ONE FOCUSED*/
.one-focused img{
    width: auto;
    box-shadow: 0px 0px 10px rgb(255, 255, 255)
}

.one-focused h2{
    display: block;
    margin-left: 3.7rem;
}

.one-focused-three h2{
    display: none;
}

.one-focused-three img{
    width: 5rem;
    box-shadow: 3px 0px 8px rgb(0, 0, 0)
}

.one-focused-four img{
    width: 3rem;
}

.one-focused-five img{
    width: 2rem;
}

/*TWO FOCUSED*/
.two-focused img{
    width: auto;
    box-shadow: 0px 0px 10px rgb(255, 255, 255)
}

.two-focused h2{
    display: block;
    margin-left: -0.3rem;
}


.two-focused-one img{
    width: 8rem;
}

.two-focused-three img{
    width: 8rem;
    box-shadow: 3px 0px 8px rgb(0, 0, 0)
}

.two-focused-three h2{
    display: none;
}

.two-focused-four img{
    width: 5rem;
}

.two-focused-five img{
    width: 3rem;
}

/*FOUR FOCUSED*/

.four-focused img{
    width: auto;
    box-shadow: 0px 0px 10px rgb(255, 255, 255)
}

.four-focused h2{
    display: block;
    margin-left: 2.7rem;
}


.four-focused-one img{
    width: 3rem;
}

.four-focused-three img{
    width: 8rem;
    box-shadow: 3px 0px 8px rgb(0, 0, 0)
}

.four-focused-three h2{
    display: none;
}

.four-focused-two img{
    width: 5rem;
}

.four-focused-five img{
    width: 8rem;
}

/*FIVE FOCUSED*/
.five-focused img{
    width: auto;
    box-shadow: 0px 0px 10px rgb(255, 255, 255)
}

.five-focused h2{
    display: block;
    margin-left: 3.5rem;
}

.five-focused-three h2{
    display: none;
}

.five-focused-three img{
    width: 5rem;
    box-shadow: 3px 0px 8px rgb(0, 0, 0)
}

.five-focused-two img{
    width: 3rem;
}

.five-focused-one img{
    width: 2rem;
}
